/*html{
	user-select: none;
}*/
.flex{
	display: flex;
}
.flex1{
	flex:1;
}
.w100{
	width:100%;
}
.pCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
    width: 80px;
    background-color: rgb(216, 225, 236);
    border: none;
    color: rgb(35,78,147);
    height: 22px;
    border-radius: 3px;
    font-size:15px;
}
.btn:hover{
	cursor: pointer;
	background-color: rgb(233, 236, 241);
}
button{
  width: 80px;
    /* background-color:rgb(198, 229, 253); */
    background: linear-gradient(#e3ebf5, #b9d5ee , #9fc9ee);
    line-height: 24px;
    border: none;
    color: rgb(35,78,147);
    height: 24px;
    border-radius: 3px;
    font-size:15px;
    box-sizing: border-box;
    border: 1px solid rgb(121, 169, 228);
}
button:hover{
  cursor: pointer;
  background: linear-gradient(#e3ebf5, #cbe5f7 , #dbecf9);
}
button:active{
  background: linear-gradient(#adc7cb, #99c4ec , #b4d4f2);
}
ul{  
list-style-type: none;  
margin:0px;  
}  

/* 弹窗样式 */
.dictionaries{
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor:not-allowed;
  z-index: 10;
}
.window_load{
  position: absolute;
  z-index: 11;
  width: 60%;
  height: 80%;
  left:20%;
  top:10%;
  background:rgb(227,239,255);
  border:2px solid rgb(60,163,203);
  cursor: auto;
}
.load_top{
  height: 30px;
  line-height: 30px;
  background:rgb(60,163,203);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  font-size: 18px;
}

.top_active {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.top_active:hover {
  border: 1px solid #659adb;
  background: linear-gradient(#e3ebf5, #cbe5f7, #dbecf9);
  /* background:url("../../assets/ButtonBak.png") no-repeat;
  background-size: cover; */
}

.top_active:active {
  border: 1px solid #659adb;
  background: linear-gradient(#91b4e2, #d7e2f0, #b8cde7, #ebf1f9);
}